<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/business.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Smarter Business|Kuda|The Money App For Africans</title>
</head>
<body>
    <div class="business">
    <div class="container">
        <div class="header">
        <div class="logo">
           <a href=""><img src="../image/blogo.png" alt=""></a> 
        </div>
        <div class="link">
            <div class="dropdown">
                <button class="dropbtn">Personal  <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                
                  <a href="card.html"><i class="fa fa-credit-card"></i> Kuda Card</a>
                  <a href="invest.html"><i class="fa fa-bar-chart"></i> Investments</a>
                  <a href="spend.html"><i class="fa fa-telegram"></i> Spend</a>
                  <a href="save.html"><i class="	fas fa-dharmachakra"></i> Save</a>
                 <a href="budget.html"><i class="	fas fa-chart-pie"></i> Budjets</a>
                <a href="borrow.html"><i class="fa fa-money fa_custom"></i> Borrow</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">Business <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                  <a href="dbusinesss.html"><i class="fa fa-home"></i> Discover Business</a>
                  <a href="bregistration.html"><i class="fas fa-door-closed"></i> Business Registration</a>
                  <a href="spos.html"><i class="	fa fa-paypal"></i> SoftPos</a>
                  
                  </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Company <i class="fas fa-caret-down"></i></button>
                    <div class="dropdown-content">
                      <a href="#">Blog</a>
                      <a href="#">Join Our Team</a>
                      <a href="#">About Us</a>
                      
                      </div>
                    </div>
            <a href="https://developer.kuda.com/" class="dev" style="color: black;">Developers</a>
            <div class="dropdown">
                <button class="dropbtn">Help <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                  <a href="#">Get Help</a>
                  <a href="#">Scam Awareness</a>
                  <a href="#">FAQs</a>
                  <a href="">Security</a>
                  
                  </div>
                </div>
            
        </div>
        <div class="enter">
            <a href="../forms/signin.html" class="sign" style="color:black">Sign In</a>
            <a href="../forms/join.html" class="join" style="background-color: black;color:white">Apply</a>
        </div>
</div>
    <div class="borrow">
        <div class="image">
            <img src="../image/b1.png" alt="">

        </div>
        
    </div>
    
    <div class="container2">
        
        <div id="div1" class="divc3">
            <i class="fa fa-credit-card"></i><br>
            <h4>
                Create and manage multiple business <br> accounts. <br> and a valid ID.</h4>
        </div>
        <div id="div2" class="divc3">
            <i class="fas fa-chart-pie"></i>
            <br><h4>
                Turn your smartphone into a POS with Kuda <br> softPOS.</h4>
        </div>
        <div id="div3" class="divc3">
            <i class="fas fa-network-wired"></i><br>
            <h4>Send up to ₦250 million daily.</h4>
        </div>
        </div>
            
            <div class="container4">
                    <div class="content">
                        <h1>The money app for <br> Africans.</h1>
                        <h4>Save, spend, send and invest money across borders.</h4>
                        <div class="btn"> <a href="" class="">Join Kuda</a></div>
                    </div>
                    <div class="image">
                        <img src="../image/moa2.png" alt="">
                    </div>
                </div>
                <div class="container6">
                    <div class="img">
                        <img src="../image/img1.png" alt="">
                    </div>
                    <div class="content">
                        <h1>Our Partners</h1>
                    </div>
                    <div class="img" id="im2">
                        <img src="../image/img2.png" alt="">
                    </div>
                </div>
                
                    <div class="footer">
                        <div class="logo">
                            <a href=""><img src="../image/klogo.png" alt=""></a> 
                         </div>
                        <div class="help">
                            <h1>Personal</h1><br>
                            <ul>
                                <a href="#"><li> Kuda Card</li></a>
                                <a href="#"><li>Investments</li></a>
                                <a href="#"><li>Spend</li></a>
                                <a><li>Save</li></a>
                               <a><li>Budjets</li></a>
                              <a><li>Borrow</li></a>
                            </ul>
                
                        </div>
                        <div class="about">
                            <h1>Business</h1>
                            <ul>
                                <a href="#"><li> Discover Business</li></a>
                                <a href="#"><li>Business Registration</li></a>
                                <a href="#"><li>SoftPos</li></a>
                            </ul>
                
                        </div>
                        <div class="money">
                            <h1>Company</h1>
                            <ul>
                                <a href="#"><li> Blog</li></a>
                                <a href="#"><li>Join Our Team</li></a>
                                <a href="#"><li>About Us</li></a>
                        </ul>
                
                        </div>
                        <div class="international" >
                            <h1>Help</h1>
                            <ul>
                                <a href="#"><li> Get Help</li></a>
                                <a href="#"><li>Scam Awareness</li></a>
                                <a href="#"><li>FAQs</li></a>
                                <a href=""><li>Security</li></a>
                                </ul>
                            </div>
                            <div class="international" >
                                <h1>Transperency</h1>
                                <ul>
                                    <a href="#"><li> Terms & Conditions</li></a>
                                    <a href="#"><li>Privacy Policy</li></a>
                                    <a href="#"><li>Information Security Policy</li></a>
                                    <a href=""><li>Cookie Policy</li></a>
                                    </ul>
                                </div>
                                </div>
                                <div style="display:flex;padding-left:150px;">
                                
                                <h5 style="border: 1px solid black;margin:20px;border-radius:5px;text-align:center ;background-color:black;padding:5px;"><a href="" style="color:white;"><i class="fa fa-apple" ></i>Download on <br>AppStore</a></h5>
                                    <h5 style="border: 1px solid white;margin:20px;border-radius:5px;text-align:center;background-color:black;padding:5px 20px;"><a href="" style="color:white;"><i class="fab fa-google-play" ></i>Get it on <br>GoogleStore</a></h5>
                                    <h5 style="border: 1px solid black;margin:20px;border-radius:5px;text-align:center ;background-color: rgb(85, 8, 90);padding:5px;"><a href="" style="color:white;"><i class="fas fa-fire-alt" ></i>Sign In to K Kuda<br>On the Web</a></h5>
                                 </div>
                                    <h3 style="color: #bbb5b5;text-align:center;padding-bottom:30px">Products may vary by country or market.</h3>
                    <div class="footer" id="location">
                        <div class="social">
                            <h1>Contact</h1>
                            <h2><a href="">help@kuda.com</a></h2>
                           <h3>
                            <a href="telegram.com"><i class="fa fa-telegram"></i></a> 
                            <a href="instagram.com"><i class="fa fa-instagram"></i></a></i>
                            <a href="facebook.com"><i class="fa fa-facebook"></i></a>
                        <a href="youtube.com"><i class="fa fa-youtube"></i></a>
                        <a href="flickr.com"><i class="fa fa-flickr "></i></a>
                        <a href="linkedlin.com"><i class="fa fa-linkedin"></i></a></h3>
                     </div>
                     <div class="state">
                        <h1>Lagos</h1>
                        <ul>
                            <a href=""><li>151 Herbert Macaulay Way, Yaba,</li></a>
                            <a href=""><li>Lagos,</li></a>
                            <a href=""><li>Nigeria</li></a>
                        </ul>
                     </div>
                     <div class="state">
                        <h1>London</h1>
                        <ul>
                            <a href=""><li>5 New Street Square,</li></a>
                            <a href=""><li>London, EC4A 3TW,</li></a>
                            <a href=""><li>United Kingdom</li></a>
                        </ul>
                     </div>
                     <div class="state">
                        <h1>Cape Town</h1>
                        <ul>
                            <a href=""><li>146 Campground Road,</li></a>
                            <a href=""><li>Snakepit Building, Level 4,</li></a>
                            <a href=""><li>Newlands, Cape Town</li></a>
                        </ul>
                     </div></div>
                     <div class="footercomment">
                        <p>
                            *Kuda Customers get 25 free transfer to other banks every month. Extra transfers to other banks cost ₦10 each. <br>
**Kuda account holders can deposit money in over 10,000 branches across Nigeria for free. </p>

<p>© 2023 Kuda Technologies Ltd (Company No.11472232). All rights reserved. </p>

<p>If you would like to find out more about which Kuda entity you receive services from, please reach out to us via the in-app chat in the Kuda app. Nigerian banking services offered by Kuda <br> Microfinance Bank (RC796975) with registered address at 151 - Herbert Macaulay Way, Yaba, Lagos, Nigeria. Kuda Microfinance Bank is licensed by the Central Bank of Nigeria. Deposits are <br> insured by the Nigerian Deposit Insurance Corporation (NDIC). </p>

<p>UK services are offered by Kuda EMI Ltd (Company No. 13724208) with registered address at 5 New Street Square, London, EC4A 3TW, United Kingdom. Kuda EMI Ltd is A Distributor of <br> Modulr FS Limited. Modulr FS Limited (Company No 09897919), is regulated by the Financial Conduct Authority for issuance of electronic money under reference 900573. <br>
                       
                     </div>
        </div>
    </div>
</body>
</html>